<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDNOZCFngiffDhmJLqVSZi_C7HB17Pxxvk</string>
	<key>GCM_SENDER_ID</key>
	<string>959409365511</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fliaow.attract.game</string>
	<key>PROJECT_ID</key>
	<string>tiger-19b25</string>
	<key>STORAGE_BUCKET</key>
	<string>tiger-19b25.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:959409365511:ios:cd73114a0d043dbe3880a2</string>
</dict>
</plist>